<app-menu></app-menu>
<h1 class="text-center fw-bold">DASHBOARD FORD</h1>
<div class="d-flex flex-grow-1 p-3 gap-3 flex-wrap justify-content-center align-items-center">

    <div class="shadow border border-black p-3">
        <h2>Veículos</h2>
        <select>
            <option value="">Territory</option>
            <option value="">Mustang</option>
            <option value="">Bronco</option>
            <option value="">Ranger</option>
        </select>
    </div>
    
    <app-card></app-card>
    <app-card></app-card>
    <app-card></app-card>
</div>