.card {
    background-color: rgb(125, 90, 255);
    border-radius: 20px;
    border: none;
    color: white;
    flex: 1 1 320px;
    height: 130px;
    text-align: center;
    min-width: min-content;
}

.card select {
    max-width: min-content;
    align-self: center;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
}

app-card {
    flex: 1 1 320px;
    text-align: center;
}

.all-cards {
    margin: 0 5%;
}
/* title */

.title {
    color: rgb(70, 120, 235);
}

/* IMAGE */

.car-image {
    min-width: 320px;
    width: 50%;
    height: auto;
}

.car-image-div {
    flex-grow: 1;
    display: flex;
}

.car-section {
    flex-grow: 1;
}

/* table */

app-table {
}