<app-menu></app-menu>
<h1 class="title text-center fw-bold">DASHBOARD FORD</h1>
<section class="all-cards d-flex gap-3 flex-wrap justify-content-center align-items-center">

    <div class="card p-3">
        <h2>Veículos</h2>
        <select (change)="onChangeSelect($event)">
            @for (v of veiculos; track v.id; ) {
                <option value="{{v.id}}">{{v.vehicle}}</option>
            }
        </select>
    </div>
    
    <app-card titulo="Total de Vendas" [valor]="veiculoSelecionado.volumetotal"></app-card>
    <app-card titulo="Conectados" [valor]="veiculoSelecionado.connected"></app-card>
    <app-card titulo="Update Software" [valor]="veiculoSelecionado.softwareUpdates"></app-card>
</section>

<section class="car-section d-flex flex-grow-1 gap-3 flex-wrap justify-content-center align-items-center">
    <div class="car-image-div flex-grow-1 d-flex justify-content-center">
        <img class="car-image" src="{{veiculoSelecionado.img}}" alt="">
    </div>
</section>

<app-table [vin]="veiculoSelecionado.vin"
        [lat]="vinInfos.lat"
        [long]="vinInfos.long"
        [nivelCombustivel]="vinInfos.nivelCombustivel"
        [odometro]="vinInfos.odometro"
        [status]="vinInfos.status"
></app-table>