* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
}

/* *************** */

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;

    .car {
        flex-grow: 1;
        max-width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
        min-width: min-content;
    
        .image {
            min-width: 15rem;
            width: 80%;
            height: auto;
        }
    }

    .login {
        background-color: rgb(245, 245, 245);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            min-width: 10rem;
            width: 20%;
            max-width: 15rem;
            height: auto;
            margin-top: 1rem;
        }

        .form-info {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            width: 100%;

            .boas-vindas {
                font-size: 1.5rem;
                color: rgb(80, 190, 126);
                text-align: center;
            }
    
            .form {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                .email-input, .password-input {
                    display: block;
                }

                .email-input, .password-input, .login-button {
                    width: 40%;
                    min-width: 15rem;
                    padding: 0.4375rem;
                    border: 1px solid gray;
                    border-radius: 0.3125rem;
                }

                .autologin-div {
                    display: flex;
                    min-width: 15rem;
                    width: 40%;
                    
                    .autologin {
                        flex-grow: 1;
                        text-align: center;
                    }
                }


            }
        }


    }
}