* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
}

/* *************** */

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;

    .car {
        flex-grow: 1;
        max-width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
        min-width: min-content;
    
        .image {
            min-width: 15rem;
            outline: 1px black solid;
            width: 80%;
            height: auto;
        }
    }

    .login {
        background-color: rgb(245, 245, 245);
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        .logo {
            min-width: 7rem;
            width: 30%;
            max-width: 15rem;
            height: auto;
            margin-top: 1rem;
        }

        .boas-vindas {
            font-size: 1.5rem;
            color: rgb(80, 190, 126);
        }

        .email-input, .password-input {
            display: block;

        }
    }
}