* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
}
.nav {
    display: flex;
    padding: 0.3125rem;
}

.ul {
    display: flex;
    gap: 0.3125rem;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.li-header {
    list-style-type: none;
}

.ford-logo-panel {
    width: 100%;
    height: auto;
    min-width: 8rem;
    width: 10%;
    max-width: 13rem;
}

.links {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    justify-content: end;
    flex-grow: 1;
}

.link-1, .link-2 {
    text-decoration: none;
    font-size: 18px;
    color: rgb(45, 120, 255);
}