<main class="main">
    <section class="car">
        <img class="image" src="ranger.png" alt="Ford Ranger">
    </section>
    <section class="login">
        <img class="logo" src="ford.png" alt="">
        <div class="form-info">
            <p class="boas-vindas">Boas-vindas</p>
            <form (ngSubmit)="onLogin()" [formGroup]="loginForm" action="submit" class="form">
                <div class="email-div">
                    <i style="color: rgb(80, 190, 126);" class="bi bi-person-fill"></i>
                    <input (input)="onInputChange()" formControlName="nome" class="email-input input" type="email" placeholder="Insira seu e-mail">
                    <i style="color: rgb(80, 190, 126);" class="bi bi-info-circle"></i>
                </div>

                <div class="password-div">
                    <i style="color: rgb(80, 190, 126);" class="bi bi-lock-fill"></i>
                    <input [type]="passwordVisible ? 'text' : 'password'" (input)="onInputChange()" formControlName="senha" class="password-input input" type="password" placeholder="Insira sua senha">
                    <i
                    [class.bi-eye]="!passwordVisible"
                    [class.bi-eye-slash]="passwordVisible"
                    style="color: rgb(80, 190, 126); cursor: pointer;"
                     (click)="togglePasswordVisibility()"  style="color: rgb(80, 190, 126);" class="bi bi-eye"></i>
                </div>
                <div class="autologin-div">
                    <p class="autologin">Logar automaticamente</p>
                    <div class="autologin-slider">
                        <input type="checkbox" id="slider">
                        <label for="slider" class="slider-button"></label>
                    </div>
                </div>
                <button [style.background-color]="loginButtonColor" type="submit" class="login-button">Entrar</button>
            </form>
        </div>
    </section>
</main>