<div class="menu-header">
  <div class="menu-button">
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
      <img class="menu-icon" src="menu-icon.svg" alt="">
    </button>
    
    <div class="offcanvas offcanvas-start custom-offcanvas" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="panel-ford-title offcanvas-title" id="offcanvasExampleLabel">Painel Ford</h5>
      </div>
      <div class="offcanvas-body">
        <button (click)="goToHome()">Home</button>
        <button (click)="goToDashboard()">Dashboard</button>
        <button (click)="goToLogin()"><img class="logout-icon" src="logout.png" alt=""> Log out</button>
      </div>
    </div>
  </div>
  
  <img class="ford-logo" src="ford-logo-header.svg" alt="">
</div>