.menu-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

/* *************** BUTTON *************** */
.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.offcanvas-body button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    font-weight: 600;
    transition: all 0.5s;
}

.offcanvas-body button:hover {
    transform: scale(1.05);
}

.menu-icon {
    width: 80%;
    min-width: 30px;
    transition: all 0.5s;
}

.menu-icon:hover {
    transform: scale(1.1);
}


.custom-offcanvas {
    width: 50%;
    max-width: 350px;
}

.logout-icon {
    width: 20px;
}

/* *************** IMAGE *************** */

.ford-logo {
    min-width: 120px;
    width: 7%;
    height: auto;
}

.offcanvas-header {
    display: flex;
    justify-content: center;
}

.panel-ford-title {
    font-weight: 700;
}