* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
}

app-root {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

app-home {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

app-boas-vindas {
    display: flex;
    flex-grow: 1;
}

app-dashboard {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}