<table>
    <thead center class="table-head">
        <tr>
            <th>VIN</th>
            <th>ODÔMETRO</th>
            <th>NÍVEL DO COMBUSTÍVEL</th>
            <th>STATUS</th>
            <th>LAT</th>
            <th>LONG</th>
        </tr>
    </thead>
    <tbody class="table-body">
        <tr>
            <td>
                <input type="text">
            </td>
            <td>80000km</td>
            <td>90%</td>
            <td>ON</td>
            <td>-32.2831</td>
            <td>14.1625</td>
        </tr>
    </tbody>
</table>